body {
    background: #407020;
}
header {
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}




.about_me {
    color: white;
}
.orange {
    background: #a05030;
}
.cyan {
    background: #408080;
}